#career {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    
.career {
    &-title {
    @include btn-color($color-career);
    @include box-shadow;
    cursor: pointer;
        &.active {
            background-color: $color-career;
            color: var(--bg-grey);
            box-shadow: inset 1px 1px 3px $color-shadow;
        }
    }
    &-text {
        flex: 100%;
        padding: 1.5rem;
        height: 15rem;
        order: 4;
        &.hidden {
            display: none;
        }
    }
}