header {
    position: absolute;
    top: 0; left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: slide-from-left 550ms ease 50ms backwards;
    @include small-screens {
        height: 5rem;
        min-height: max-content;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100%;
        width: 17rem;
        padding: 2rem 2rem 4rem 2rem;
        background-color: var(--bg-grey);
        @include box-shadow;
        transition: width $middle-trans ease-in 250ms;
        img {
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
            @include box-shadow;
            margin-bottom: 1rem;
        }
        h1, h2, .profile-contact {
            width: 100%;
        }
        .profile-contact {
            margin-left: -1rem;
        }
        img, h1, h2, .profile-contact {
            transition: opacity $short-trans ease-in-out 650ms;
        }
        @include small-screens {
            position: relative;
            width: 100vw;
            flex-direction: row;
            justify-content: flex-start;
            padding: 1rem;
            img {
                width: 5rem;
                height: 5rem;
                margin-bottom: 0;
                margin-left: -2.3rem;
            }
            h1, h2 {
                width: auto;
            }
            .profile-contact {
                display: none;
            }
        }
    }
    nav {
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        height: 100%;
        width: 6rem;
        padding-bottom: 4rem;
        background-color: var(--bg-grey);
        @include box-shadow;
        opacity: 0;
        transition: opacity $short-trans ease-in-out;
        overflow: hidden;
    }
    &.narrowed {
        .profile {
            width: 6rem;
            transition: width $middle-trans ease-in-out 200ms;
            img, h1, h2, .profile-contact {
                opacity: 0;
                transition: opacity $short-trans ease-in-out 100ms;
            }
        }
        nav {
            z-index: auto;
            opacity: 1;
            transition: opacity 300ms ease-in-out 500ms;
        }
    }
}