header {
    position: absolute;
    top: 0; left: 0;
    z-index: 3;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include small-screens {
        height: 5rem;
        min-height: max-content;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100%;
        width: 17rem;
        padding: 2rem 2rem 4rem 2rem;
        background-color: var(--bg-grey);
        @include box-shadow;
        transition: width $middle-trans ease-in 250ms;
        img {
            @include box-shadow;
            margin-bottom: 1rem;
            filter: grayscale(100%);
        }
        h1, h2, .profile-contact {
            width: 100%;
        }
        .profile-contact {
            margin-left: -1rem;
            a:hover, a:focus {
                box-shadow: none;
            }
        }
        img, h1, h2, .profile-contact {
            transition: opacity $short-trans ease-in-out 650ms;
        }
        &:hover img, &:focus img {
            filter: none;
        }
        @include small-screens {
            position: relative;
            width: 100vw;
            flex-direction: row;
            justify-content: flex-start;
            padding: 1rem;
            img {
                @include circle(5rem, 1rem);
                margin-bottom: 0;
                margin-left: -2.3rem;
                filter: none;
            }
            h1, h2 {
                width: auto;
            }
            .profile-contact {
                display: none;
            }
            .btn-nav {
                position: absolute;
                top: 50%;
                margin-top: -0.6rem;
                right: 1rem;
            }
        }
    }
    nav {
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        height: 100%;
        width: 6rem;
        padding-bottom: 4rem;
        background-color: var(--bg-grey);
        @include box-shadow;
        opacity: 0;
        transition: opacity $short-trans ease-in-out;
        a {
            position: relative;
            &:hover span, &:focus span {
                transform: translateX(0);
                transition: transform $short-trans ease-in-out;
            }
        }
        span {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 4rem;
            width: max-content;
            max-width: 6rem;
            word-break: break-all;
            font-size: 1rem;
            padding: 0.6rem;
            background-color: inherit;
            color: inherit;
            border-radius: 0 0.5rem 0.5rem 0;
            opacity: 0;
            transform: translatex(-6rem);
        }
    }
    &.narrowed {
        .profile {
            width: 6rem;
            transition: width $middle-trans ease-in-out 200ms;
            img, h1, h2, .profile-contact {
                opacity: 0;
                transition: opacity $short-trans ease-in-out 100ms;
                filter: none;
            }
        }
        nav {
            z-index: auto;
            opacity: 1;
            transition: opacity $short-trans ease-in-out 800ms;
            span {
                opacity: 1;
                transition: opacity 0ms ease-in-out 1000ms;
            }
        }
    }
}