#home {
    position: absolute;
    top: 0; bottom: 0; left: 20vw; right: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.5rem;
    height: min-content;
    width: min-content;
    margin: auto;
    transition: transform 500ms ease-in-out 250ms;
    transform: translateX(0%) scale(100%);
    &.narrowed {
        transition: transform 500ms ease-in-out 200ms;
        transform: translateX(-100%) scale(0%);
        a {
            filter: none;
        }
    }
}