.section {
    display: none;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    min-height: 100vh;
    padding: $padding-section;
    &-active {
        display: flex;
    }
}

#navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}