@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-grey: #EEF0F2;
  --bg-grey: #403F4C;
}
:root.light-mode {
  --text-grey: #403F4C;
  --bg-grey: #EEF0F2;
}

html {
  position: relative;
  background-color: var(--bg-grey);
  margin: auto;
  scroll-behavior: smooth;
  font-size: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

html {
  font-family: "Oxygen", "Lucida Sans", "Verdana";
  color: var(--text-grey);
}

p, quote {
  font-family: "Krub", Georgia, serif;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h1, h2 {
  font-family: "Bangers";
  font-size: 1.8rem;
  line-height: 4rem;
}

h3, .h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

.bold {
  font-weight: 500;
}

.light {
  opacity: 0.7;
}

.cv-content h3 {
  font-size: 2.6rem;
  text-align: center;
  text-transform: uppercase;
}
.cv-content h4 {
  text-transform: uppercase;
  font-weight: 600;
}

#refer a {
  margin-left: 0.5rem;
}

#contact p {
  line-height: 2rem;
  text-align: center;
}
#contact span {
  color: #DD5A40;
  line-height: 5rem;
}

.btn-cv {
  background-color: rgba(255, 153, 10, 0.2);
  color: #FF990A;
}
.btn-cv:hover, .btn-cv:focus {
  background-color: #FF990A;
  color: var(--bg-grey);
}
.btn-career {
  background-color: rgba(255, 56, 100, 0.2);
  color: #FF3864;
}
.btn-career:hover, .btn-career:focus {
  background-color: #FF3864;
  color: var(--bg-grey);
}
.btn-refer {
  background-color: rgba(51, 184, 255, 0.2);
  color: #33B8FF;
}
.btn-refer:hover, .btn-refer:focus {
  background-color: #33B8FF;
  color: var(--bg-grey);
}
.btn-skills {
  background-color: rgba(224, 0, 217, 0.2);
  color: #E000D9;
}
.btn-skills:hover, .btn-skills:focus {
  background-color: #E000D9;
  color: var(--bg-grey);
}
.btn-portfolio {
  background-color: rgba(0, 196, 154, 0.2);
  color: #00C49A;
}
.btn-portfolio:hover, .btn-portfolio:focus {
  background-color: #00C49A;
  color: var(--bg-grey);
}
.btn-contact {
  background-color: rgba(221, 90, 64, 0.2);
  color: #DD5A40;
}
.btn-contact:hover, .btn-contact:focus {
  background-color: #DD5A40;
  color: var(--bg-grey);
}
.btn-home {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: rgba(var(--text-grey), 0.2);
  color: var(--text-grey);
}
.btn-home:hover, .btn-home:focus {
  background-color: var(--text-grey);
  color: var(--bg-grey);
}

.btn-circle {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 1px 3px #1d1c22;
}
.btn-circle-l {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  background-color: var(--bg-grey);
  transition: 250ms ease-out;
}
.btn-circle-m {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
}
.btn-circle-s {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
}

.btn-icon {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 1px 3px #1d1c22;
}
.btn-icon-contact {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: none;
  font-size: 3rem;
}
.btn-icon-contact img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
}
.btn-icon-contact #malt-dark, .btn-icon-contact #malt-light {
  display: none;
}
.btn-icon-contact:hover #malt-contact, .btn-icon-contact:focus #malt-contact {
  display: none;
}
.btn-icon-contact:hover #malt-dark, .btn-icon-contact:focus #malt-dark {
  display: inline-block;
}
.btn-icon-contact:hover.light-mode #malt-dark, .btn-icon-contact:focus.light-mode #malt-dark {
  display: none;
}
.btn-icon-contact:hover.light-mode #malt-light, .btn-icon-contact:focus.light-mode #malt-light {
  display: inline-block;
}
.btn-icon-s {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  font-size: 1.25rem;
}
.btn-icon-xs {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
}
.btn-icon#send-mail {
  margin-left: 1.5rem;
}
.btn-icon#send-mail i {
  margin-left: -0.15rem;
}

.btn-switch {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 2.75rem;
  height: 2rem;
}
.btn-switch-dark {
  background-color: #403F4C;
  color: #EEF0F2;
  border-top-left-radius: 2.25rem;
  border-bottom-left-radius: 2.25rem;
}
.btn-switch-light {
  background-color: #EEF0F2;
  color: #403F4C;
  border-top-right-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
}
.btn-switch.active {
  box-shadow: inset 1px 1px 5px #1d1c22;
}

header {
  position: relative;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  height: 4rem;
  padding-left: 10rem;
  padding-right: 1rem;
  background-color: var(--bg-grey);
  box-shadow: 1px 1px 3px #1d1c22;
}
header img {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #1d1c22;
}
header h1, header h2 {
  white-space: nowrap;
}
header #btn-nav-mobile {
  display: none;
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
header .nav button {
  visibility: hidden;
  position: relative;
}
header .nav button:hover span {
  transform: translateY(0);
}
header .nav span {
  position: absolute;
  z-index: -1;
  top: 3.25rem;
  left: -1.5rem;
  font-size: 1rem;
  padding: 0.6rem;
  background-color: inherit;
  color: inherit;
  border-radius: 0 0 7px 7px;
  transform: translateY(-2.5rem);
  transition: 150ms ease-in;
}
header .nav #span-cv {
  left: 0rem;
}
header .switch-mode {
  display: flex;
  gap: 0;
}
header.active {
  z-index: auto;
}
header.active nav button {
  visibility: visible;
}

section {
  display: none;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  min-height: 100vh;
  margin-top: -4rem;
  padding: 10rem 6rem 6rem 6rem;
}
section.active {
  display: flex;
}
section .contact-icons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

#home {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  margin-top: -4rem;
  padding-top: 4rem;
  gap: 0;
  flex-direction: row;
}
#home .home-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  isolation: isolate;
  transition: 200ms ease-out 100ms;
}

.bg-cv {
  background-color: #FF990A;
}
.bg-cv:hover, .bg-cv:focus {
  background-color: rgba(255, 153, 10, 0.6);
}
.bg-career {
  background-color: #FF3864;
}
.bg-career:hover, .bg-career:focus {
  background-color: rgba(255, 56, 100, 0.6);
}
.bg-refer {
  background-color: #33B8FF;
}
.bg-refer:hover, .bg-refer:focus {
  background-color: rgba(51, 184, 255, 0.6);
}
.bg-skills {
  background-color: #E000D9;
}
.bg-skills:hover, .bg-skills:focus {
  background-color: rgba(224, 0, 217, 0.6);
}
.bg-portfolio {
  background-color: #00C49A;
}
.bg-portfolio:hover, .bg-portfolio:focus {
  background-color: rgba(0, 196, 154, 0.6);
}
.bg-contact {
  background-color: #DD5A40;
}
.bg-contact:hover, .bg-contact:focus {
  background-color: rgba(221, 90, 64, 0.6);
}

.cv-content {
  position: relative;
  display: flex;
  box-shadow: 1px 1px 3px #1d1c22;
  isolation: isolate;
}
.cv-content-top {
  height: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv-content-left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 35%;
  background-color: var(--text-grey);
  color: var(--bg-grey);
  padding: 2rem 3rem 8rem 3rem;
}
.cv-content-left img {
  width: 100%;
  border-radius: 50%;
}
.cv-content-left p {
  display: flex;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}
.cv-content-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem 8rem 3rem;
}
.cv-content h4 {
  padding-bottom: 2rem;
}
.cv-content p {
  margin-bottom: 1rem;
}

#download-cv {
  position: absolute;
  top: -3rem;
  right: -3rem;
}
#download-cv::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--bg-grey);
}

#career {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.career-title {
  background-color: rgba(255, 56, 100, 0.2);
  color: #FF3864;
  box-shadow: 1px 1px 3px #1d1c22;
  cursor: pointer;
}
.career-title:hover, .career-title:focus {
  background-color: #FF3864;
  color: var(--bg-grey);
}
.career-title.active {
  background-color: #FF3864;
  color: var(--bg-grey);
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.career-text {
  flex: 100%;
  padding: 1.5rem;
  height: 15rem;
  order: 4;
}
.career-text.hidden {
  display: none;
}

#skills i {
  padding: 0 5px;
  color: #E000D9;
}
#skills p {
  display: inline-flex;
  gap: 3rem;
}
#skills ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.6rem;
  max-height: 8rem;
  width: 80%;
  margin-top: 2rem;
}

.projects-perso, .projects-op {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin-bottom: 2rem;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 45%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #1d1c22;
}
.project-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.project-main .project-img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 1;
}
.project-main .project-title {
  text-align: center;
}
.project-main.hidden {
  opacity: 0.6;
}
.project-details {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  bottom: 5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform-origin: center bottom;
  transform: scaleY(0%);
  transition: 250ms ease-in-out;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.project-details::-webkit-scrollbar {
  display: none;
}
.project-details p {
  background-color: var(--bg-grey);
  padding-top: 0.7rem;
}
.project-details-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 1.5rem;
  padding: 1.5rem 0 0.7rem;
  background-color: var(--bg-grey);
  border-bottom: 1px var(--text-grey) solid;
}
.project-details.active {
  transform: scaleY(100%);
}
.project-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.project .btn-icon-more {
  display: none;
}

/*# sourceMappingURL=style.css.map */
