@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nova+Square&family=Peralta&family=Rowdies:wght@300&family=Train+One&display=swap");
@keyframes jump {
  0% {
    transform: translateY(0%) scaleX(102%) scaleY(98%);
  }
  2% {
    transform: translateY(0%) scaleX(102%) scaleY(98%);
  }
  50% {
    transform: translateY(-8%) scaleX(99%) scaleY(101%);
  }
  98% {
    transform: translateY(0%) scaleX(102%) scaleY(98%);
  }
  100% {
    transform: translateY(0%) scaleX(102%) scaleY(98%);
  }
}
@keyframes ball-shadow {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  2% {
    transform: scale(100%);
    opacity: 1;
  }
  50% {
    transform: scale(110%);
    opacity: 0.5;
  }
  98% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-grey: #403F4C;
  --middle-grey: #dcdee1;
  --bg-grey: #EEF0F2;
}
:root.dark-mode {
  --text-grey: #EEF0F2;
  --middle-grey: #53525d;
  --bg-grey: #403F4C;
}

html {
  background-color: var(--middle-grey);
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 401px) and (max-width: 1000px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1800px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 1801px) {
  html {
    font-size: 25px;
  }
}

body {
  position: relative;
  max-width: 2000px;
  margin: auto;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

html {
  font-family: "Oxygen", "Lucida Sans", "Verdana";
  color: var(--text-grey);
}

p, quote {
  font-family: "Krub", Georgia, serif;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

h3, .h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

h5, .h5 {
  font-size: 1rem;
  font-weight: 700;
}

.bold {
  font-weight: 500;
}

.light {
  opacity: 0.7;
}

.light-uppercase {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.normal-uppercase {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.cv-content h3 {
  font-size: 2.6rem;
  text-align: center;
  text-transform: uppercase;
}
.cv-content h4 {
  text-transform: uppercase;
  font-weight: 600;
}

#refer a {
  margin-left: 0.5rem;
}

#contact p {
  line-height: 2rem;
  text-align: center;
}
#contact span {
  line-height: 5rem;
}

.ball-l {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  font-size: 1.2rem;
}
.ball-cv {
  position: relative;
  background: radial-gradient(circle at 4rem 4rem, #259CA7, #0F516B);
  color: #DFF6F6;
  box-shadow: inset 1px 1px 15px rgba(6, 30, 40, 0.2), inset -2px -1px 40px rgba(12, 64, 85, 0.3), 0 0 1px rgba(29, 28, 34, 0.5);
  filter: grayscale(100%);
  animation: jump 1000ms ease infinite;
}
.ball-cv:hover, .ball-cv:focus {
  filter: none;
}
.ball-cv.active {
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.ball-career {
  position: relative;
  background: radial-gradient(circle at 4rem 4rem, #00CCAD, #006652);
  color: #DCF9F5;
  box-shadow: inset 1px 1px 15px rgba(0, 26, 21, 0.2), inset -2px -1px 40px rgba(0, 77, 62, 0.3), 0 0 1px rgba(29, 28, 34, 0.5);
  filter: grayscale(100%);
  animation: jump 1000ms ease infinite;
  animation-delay: 200ms;
}
.ball-career:hover, .ball-career:focus {
  filter: none;
}
.ball-career.active {
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.ball-refer {
  position: relative;
  background: radial-gradient(circle at 4rem 4rem, #7FC7A3, #008F4C);
  color: #F4F9F1;
  box-shadow: inset 1px 1px 15px rgba(0, 67, 35, 0.2), inset -2px -1px 40px rgba(0, 118, 62, 0.3), 0 0 1px rgba(29, 28, 34, 0.5);
  filter: grayscale(100%);
  animation: jump 1000ms ease infinite;
  animation-delay: 400ms;
}
.ball-refer:hover, .ball-refer:focus {
  filter: none;
}
.ball-refer.active {
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.ball-skills {
  position: relative;
  background: radial-gradient(circle at 4rem 4rem, #EDC55A, #DB9E06);
  color: #FCF8EE;
  box-shadow: inset 1px 1px 15px rgba(145, 104, 4, 0.2), inset -2px -1px 40px rgba(194, 140, 5, 0.3), 0 0 1px rgba(29, 28, 34, 0.5);
  filter: grayscale(100%);
  animation: jump 1000ms ease infinite;
  animation-delay: 600ms;
}
.ball-skills:hover, .ball-skills:focus {
  filter: none;
}
.ball-skills.active {
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.ball-portfolio {
  position: relative;
  background: radial-gradient(circle at 4rem 4rem, #E99B35, #CC5500);
  color: #FDF6ED;
  box-shadow: inset 1px 1px 15px rgba(128, 53, 0, 0.2), inset -2px -1px 40px rgba(179, 74, 0, 0.3), 0 0 1px rgba(29, 28, 34, 0.5);
  filter: grayscale(100%);
  animation: jump 1000ms ease infinite;
  animation-delay: 800ms;
}
.ball-portfolio:hover, .ball-portfolio:focus {
  filter: none;
}
.ball-portfolio.active {
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.ball-contact {
  position: relative;
  background: radial-gradient(circle at 4rem 4rem, #DC8241, #B63C16);
  color: #F9E9DC;
  box-shadow: inset 1px 1px 15px rgba(114, 38, 14, 0.2), inset -2px -1px 40px rgba(159, 53, 19, 0.3), 0 0 1px rgba(29, 28, 34, 0.5);
  filter: grayscale(100%);
  animation: jump 1000ms ease infinite;
  animation-delay: 1000ms;
}
.ball-contact:hover, .ball-contact:focus {
  filter: none;
}
.ball-contact.active {
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.ball-shadow {
  position: relative;
  z-index: -1;
  width: 7rem;
  height: 1rem;
  border-radius: 50%;
  background: radial-gradient(rgba(29, 28, 34, 0.9), rgba(29, 28, 34, 0.1));
  margin: -0.9rem auto 0;
  filter: blur(4px);
  animation: ball-shadow 1000ms ease infinite;
}
.ball-shadow-0 {
  animation-delay: 0ms;
}
.ball-shadow-1 {
  animation-delay: 200ms;
}
.ball-shadow-2 {
  animation-delay: 400ms;
}
.ball-shadow-3 {
  animation-delay: 600ms;
}
.ball-shadow-4 {
  animation-delay: 800ms;
}

.btn-cv {
  background-color: #0F516B;
  color: #DFF6F6;
  transition: 200ms ease-in-out;
}
.btn-cv:hover, .btn-cv:focus {
  background-color: #DFF6F6;
  color: #0F516B;
  box-shadow: 3px 3px 9px #1d1c22;
}
.btn-cv.active {
  background-color: #DFF6F6;
  color: #0F516B;
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.btn-career {
  background-color: #006652;
  color: #DCF9F5;
  transition: 200ms ease-in-out;
}
.btn-career:hover, .btn-career:focus {
  background-color: #DCF9F5;
  color: #006652;
  box-shadow: 3px 3px 9px #1d1c22;
}
.btn-career.active {
  background-color: #DCF9F5;
  color: #006652;
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.btn-refer {
  background-color: #008F4C;
  color: #F4F9F1;
  transition: 200ms ease-in-out;
}
.btn-refer:hover, .btn-refer:focus {
  background-color: #F4F9F1;
  color: #008F4C;
  box-shadow: 3px 3px 9px #1d1c22;
}
.btn-refer.active {
  background-color: #F4F9F1;
  color: #008F4C;
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.btn-skills {
  background-color: #DB9E06;
  color: #FCF8EE;
  transition: 200ms ease-in-out;
}
.btn-skills:hover, .btn-skills:focus {
  background-color: #FCF8EE;
  color: #DB9E06;
  box-shadow: 3px 3px 9px #1d1c22;
}
.btn-skills.active {
  background-color: #FCF8EE;
  color: #DB9E06;
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.btn-portfolio {
  background-color: #CC5500;
  color: #FDF6ED;
  transition: 200ms ease-in-out;
}
.btn-portfolio:hover, .btn-portfolio:focus {
  background-color: #FDF6ED;
  color: #CC5500;
  box-shadow: 3px 3px 9px #1d1c22;
}
.btn-portfolio.active {
  background-color: #FDF6ED;
  color: #CC5500;
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.btn-contact {
  background-color: #B63C16;
  color: #F9E9DC;
  transition: 200ms ease-in-out;
}
.btn-contact:hover, .btn-contact:focus {
  background-color: #F9E9DC;
  color: #B63C16;
  box-shadow: 3px 3px 9px #1d1c22;
}
.btn-contact.active {
  background-color: #F9E9DC;
  color: #B63C16;
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.btn-home {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--bg-grey);
  color: var(--text-grey);
  transition: 200ms ease-in-out;
}
.btn-home:hover, .btn-home:focus {
  background-color: var(--text-grey);
  color: var(--bg-grey);
  box-shadow: 3px 3px 9px #1d1c22;
}
.btn-home.active {
  background-color: var(--text-grey);
  color: var(--bg-grey);
  box-shadow: inset 1px 1px 3px #1d1c22;
}
.btn-nav {
  border: none;
  background: none;
  color: var(--text-grey);
}
.btn-nav .fa-times {
  display: none;
}
.btn-nav.btn-close .fa-times {
  display: inline-block;
}
.btn-nav.btn-close .fa-bars {
  display: none;
}
.btn-nav.hidden {
  display: none;
}

.btn-circle {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 1px 3px #1d1c22;
}
.btn-circle-l {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  font-size: 1.2rem;
}
.btn-circle-m {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  font-size: 1rem;
}
.btn-circle-s {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  font-size: 1rem;
}
.btn-circle-xs {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 0.9rem;
}

.btn-icon {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 1px 3px #1d1c22;
}
.btn-icon-contact {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2.5rem;
}
.btn-icon-contact img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1rem;
}
.btn-icon-contact #malt-dark {
  display: none;
}
.btn-icon-contact:hover #malt-light, .btn-icon-contact:focus #malt-light {
  display: none;
}
.btn-icon-contact:hover #malt-dark, .btn-icon-contact:focus #malt-dark {
  display: inline-block;
}
.btn-icon-s {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.25rem;
  filter: none;
  animation: none;
}
.btn-icon-xs {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
}
.btn-icon#send-mail {
  margin-left: 1.5rem;
}

.switch-mode {
  position: fixed;
  z-index: 3;
  bottom: 1rem;
  left: 1.5rem;
  padding: 0.2rem;
  width: 3rem;
  height: 1.5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--middle-grey);
  box-shadow: 1px 1px 3px #1d1c22;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.switch-mode .slider {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  font-size: none;
  background-color: var(--text-grey);
  transform: translateX(0);
  transition: inherit;
}
.switch-mode.dark-mode .slider {
  transform: translateX(1.5rem);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 985px) {
  header {
    height: 5rem;
    min-height: max-content;
  }
}
header .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 17rem;
  padding: 2rem 2rem 4rem 2rem;
  background-color: var(--bg-grey);
  box-shadow: 1px 1px 3px #1d1c22;
  transition: width 300ms ease-in 250ms;
}
header .profile img {
  box-shadow: 1px 1px 3px #1d1c22;
  margin-bottom: 1rem;
  filter: grayscale(100%);
}
header .profile h1, header .profile h2, header .profile .profile-contact {
  width: 100%;
}
header .profile .profile-contact {
  margin-left: -1rem;
}
header .profile .profile-contact a:hover, header .profile .profile-contact a:focus {
  box-shadow: none;
}
header .profile img, header .profile h1, header .profile h2, header .profile .profile-contact {
  transition: opacity 200ms ease-in-out 650ms;
}
header .profile:hover img, header .profile:focus img {
  filter: none;
}
@media screen and (max-width: 985px) {
  header .profile {
    position: relative;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
  }
  header .profile img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 1rem;
    margin-bottom: 0;
    margin-left: -2.3rem;
    filter: none;
  }
  header .profile h1, header .profile h2 {
    width: auto;
  }
  header .profile .profile-contact {
    display: none;
  }
  header .profile .btn-nav {
    position: absolute;
    top: 50%;
    margin-top: -0.6rem;
    right: 1rem;
  }
}
header nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  width: 6rem;
  padding-bottom: 4rem;
  background-color: var(--bg-grey);
  box-shadow: 1px 1px 3px #1d1c22;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
header nav a {
  position: relative;
}
header nav a:hover span, header nav a:focus span {
  transform: translateX(0);
  transition: transform 200ms ease-in-out;
}
header nav span {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 4rem;
  width: max-content;
  max-width: 6rem;
  word-break: break-all;
  font-size: 1rem;
  padding: 0.6rem;
  background-color: inherit;
  color: inherit;
  border-radius: 0 0.5rem 0.5rem 0;
  opacity: 0;
  transform: translatex(-6rem);
}
header.narrowed .profile {
  width: 6rem;
  transition: width 300ms ease-in-out 200ms;
}
header.narrowed .profile img, header.narrowed .profile h1, header.narrowed .profile h2, header.narrowed .profile .profile-contact {
  opacity: 0;
  transition: opacity 200ms ease-in-out 100ms;
  filter: none;
}
header.narrowed nav {
  z-index: auto;
  opacity: 1;
  transition: opacity 200ms ease-in-out 800ms;
}
header.narrowed nav span {
  opacity: 1;
  transition: opacity 0ms ease-in-out 1000ms;
}

main {
  height: 100vh;
  max-width: 100vw;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}
main::-webkit-scrollbar {
  display: none;
}
main .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  min-height: 100vh;
  height: max-content;
  padding: 6rem 8rem;
  margin-left: 6rem;
  scroll-snap-align: start;
  opacity: 0;
  transition: opacity 200ms ease-in;
}
@media screen and (max-width: 985px) {
  main .section {
    padding: 8rem 2rem 3rem 2rem;
    margin-left: 0;
  }
}
main.active .section {
  opacity: 1;
  transition: opacity 300ms ease-in 850ms;
}
@media screen and (max-width: 985px) {
  main.active .section {
    transition-delay: 100ms;
  }
}

#home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 17rem;
  right: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 3.5rem;
  height: min-content;
  width: min-content;
  margin: auto;
  transition: transform 500ms ease-in-out 250ms;
  transform: translateX(0%) scale(100%);
}
#home.narrowed {
  transition: transform 500ms ease-in-out 200ms;
  transform: translateX(-100%) scale(0%);
}
#home.narrowed a {
  filter: none;
}
@media screen and (max-width: 985px) {
  #home.narrowed {
    transition-delay: 50ms;
  }
}
@media screen and (max-width: 985px) {
  #home {
    top: 5rem;
    left: 0;
    height: calc(100vh - 5rem);
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    transition-delay: 50ms;
  }
  #home .ball-wrapper {
    height: 100%;
  }
  #home a {
    height: 100%;
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
    animation: none;
    filter: none;
  }
  #home .ball-shadow {
    display: none;
  }
}

.cv-content {
  position: relative;
  display: flex;
  box-shadow: 1px 1px 3px #1d1c22;
  isolation: isolate;
}
@media screen and (max-width: 985px) {
  .cv-content {
    flex-direction: column;
  }
}
.cv-content-top {
  height: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 985px) {
  .cv-content-top {
    min-height: 27rem;
    height: max-content;
  }
}
.cv-content-left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 35%;
  background-color: var(--text-grey);
  color: var(--bg-grey);
  padding: 2rem 3rem 8rem 3rem;
}
.cv-content-left img {
  width: 100%;
  border-radius: 50%;
}
@media screen and (max-width: 985px) {
  .cv-content-left img {
    max-width: 400px;
  }
}
.cv-content-left p {
  display: flex;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}
@media screen and (max-width: 985px) {
  .cv-content-left {
    width: 100%;
  }
}
.cv-content-right {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-grey);
  gap: 2rem;
  padding: 2rem 3rem 8rem 3rem;
}
.cv-content h4 {
  padding-bottom: 2rem;
}
.cv-content p {
  margin-bottom: 1rem;
}

#download-cv {
  position: absolute;
  top: -3rem;
  right: -3rem;
}
@media screen and (max-width: 985px) {
  #download-cv {
    top: -1rem;
    right: -1rem;
  }
}

#career {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 985px) {
  #career {
    padding-top: 0;
    gap: 1rem 2rem;
  }
}

.career-title {
  cursor: pointer;
}
.career-text {
  flex: 100%;
  padding: 1.5rem;
  height: 15rem;
  order: 4;
}
.career-text.hidden {
  display: none;
}

#skills i {
  padding: 0 5px;
  color: #DB9E06;
}
#skills p {
  display: inline-flex;
  gap: 3rem;
}
#skills ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.6rem;
  max-height: 8rem;
  width: 80%;
  margin-top: 2rem;
}
@media screen and (max-width: 985px) {
  #skills ul {
    width: 100%;
    max-height: none;
    align-content: center;
  }
}

#portfolio {
  flex-direction: row;
}
@media screen and (max-width: 985px) {
  #portfolio {
    flex-direction: column;
  }
}
#portfolio .btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 985px) {
  #portfolio .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#portfolio .project {
  display: none;
  gap: 3rem;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 985px) {
  #portfolio .project {
    flex-direction: column;
  }
}
#portfolio .project-main {
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 28%;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px #1d1c22;
  overflow: hidden;
}
@media screen and (max-width: 985px) {
  #portfolio .project-main {
    width: 100%;
  }
}
#portfolio .project-main-type {
  margin-right: -2rem;
  margin-left: auto;
  padding: 0.5rem 1rem;
  background-color: #FDF6ED;
  color: #CC5500;
  border-radius: 5px 0 0 5px;
  box-shadow: 1px 1px 3px #1d1c22;
}
#portfolio .project-main .h3 {
  padding-bottom: 1rem;
}
#portfolio .project-main-links {
  display: flex;
  gap: 1rem;
}
#portfolio .project-switch {
  position: relative;
  width: 62%;
  height: min-content;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px #1d1c22;
  overflow: hidden;
}
@media screen and (max-width: 985px) {
  #portfolio .project-switch {
    width: 100%;
  }
}
#portfolio .project-switch img {
  width: 100%;
  border-radius: 1.5rem;
}
#portfolio .project-details {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--bg-grey);
  transform-origin: center right;
  transform: scaleX(0%);
  transition: 250ms ease-in-out;
}
@media screen and (max-width: 985px) {
  #portfolio .project-details {
    width: 100%;
  }
}
#portfolio .project-details-skills {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 1.5rem;
  padding: 1rem 1rem 1rem 4rem;
  border-radius: 0.5rem;
  background-color: #FDF6ED;
  color: #CC5500;
  border: 1px #CC5500 solid;
}
#portfolio .project-details-skills .icon-tools {
  position: absolute;
  top: 50%;
  left: 1rem;
  margin-top: -1rem;
  line-height: 2rem;
  text-align: center;
  background-color: #CC5500;
  color: #FDF6ED;
}
#portfolio .project-details p {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#portfolio .project-details p::-webkit-scrollbar {
  display: none;
}
#portfolio .project-details.active {
  transform: scaleX(100%);
}
#portfolio .project.active {
  display: flex;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

/*# sourceMappingURL=style.css.map */
