.ball {
    &-l {
        @include btn;
        @include circle(13rem, 1.2rem);
    }
    &-cv {
        @include ball-color($cv-middle, $cv-dark, $cv-light);
    }
    &-career {
        @include ball-color($career-middle, $career-dark, $career-light);
        animation-delay: 200ms;
    }
    &-refer {
        @include ball-color($refer-middle, $refer-dark, $refer-light);
        animation-delay: 400ms;
    }
    &-skills {
        @include ball-color($skills-middle, $skills-dark, $skills-light);
        animation-delay: 600ms;
    }
    &-portfolio {
        @include ball-color($portfolio-middle, $portfolio-dark, $portfolio-light);
        animation-delay: 800ms;
    }
    &-contact {
        @include ball-color($contact-middle, $contact-dark, $contact-light);
        animation-delay: 1000ms;
    }
    &-shadow {
        position: relative;
        z-index: -1;
        width: 7rem;
        height: 1rem;
        border-radius: 50%;
        background: radial-gradient(rgba($color-shadow, 0.9), rgba($color-shadow, 0.1));
        margin: -0.9rem auto 0;
        filter: blur(4px);
        animation: ball-shadow 1000ms ease infinite;
        @for $i from 0 to 5 {
            &-#{$i} {
                animation-delay: 200ms*$i;
            }
        }
    }
}