// generic buttons

.btn-stripe {
    @include btn;
    font-size: 1.2rem;
    height: 100%;
    max-height: 7rem;
    transition: color 50ms ease 0ms;
    i {
        display: none;
    }
    @include small-screens {
        max-height: none;
    }
    &.narrow {
        height: 50%;
        max-height: 3rem;
        transition: color 50ms ease 0ms;
        transition: max-height 450ms ease;
        span {
            display: none;
        }
        i {
            display: inline-block;
        }
    }
    &-cv {
        @include stripe-btn-color($cv-middle, $cv-dark, $cv-light, 2deg);
    }
    &-career {
        @include stripe-btn-color($career-middle, $career-dark, $career-light, -2deg);
        animation-delay: 150ms;
    }
    &-refer {
        @include stripe-btn-color($refer-middle, $refer-dark, $refer-light, -2deg);
        animation-delay: 250ms;
    }
    &-skills {
        @include stripe-btn-color($skills-middle, $skills-dark, $skills-light, 2deg);
        animation-delay: 350ms;
    }
    &-portfolio {
        @include stripe-btn-color($portfolio-middle, $portfolio-dark, $portfolio-light, 2deg);
        animation-delay: 450ms;
    }
    &-contact {
        @include stripe-btn-color($contact-middle, $contact-dark, $contact-light, -2deg);
        animation-delay: 550ms;
    }
}

.btn-circle {
    @include btn;
    @include box-shadow;
    &-cv {
        @include btn-circle-color(var(--cv-text), var(--bg-grey));
    }
    &-career {
        @include btn-circle-color(var(--career-text), var(--bg-grey));
    }
    &-refer {
        @include btn-circle-color(var(--refer-text), var(--bg-grey));
    }
    &-portfolio {
        @include btn-circle-color(var(--portfolio-text), var(--bg-grey));
    }
    &-contact {
        @include btn-circle-color(var(--contact-text), var(--bg-grey));
    }
    &-home {
        color: var(--text-grey);
        box-shadow: none;
        &:hover, &:focus {
            background-color: var(--text-grey);
            color: var(--middle-grey);
        }
    }
    &-l {
        @include circle(9rem, 1rem);
    }
    &-m {
        @include circle(7rem, 1rem);
    }
    &-s {
        @include circle(5rem, 0.9rem);
    }
    &-xs {
        @include circle(2rem, 1rem);
    }
}

// specificities 

#btn-return-home {
    @include circle(2.4rem, 1.2rem);
    margin-top: 1.2rem;
}

#btn-nav-mobile {
    position: absolute;
    top: 50%;
    margin-top: -0.6rem;
    right: 1rem;
    background: none;
    color: var(--text-grey);
    .fa-times {
        display: none;
    }
    &.btn-close {
        .fa-times {
            display: inline-block;
        }
        .fa-bars {
            display: none;
        }
    }
    &.hidden {
        display: none;
    }
}

.btn-circle-social {
    @include circle(2rem, 1rem);
    padding: none;
    img {
        @include circle(1rem, 0.5rem);
    }
    #malt-white {
        display: inline-block;
    }
    #malt-grey, #malt-darkmode, #malt-lightmode {
        display: none;
    }
    &:hover, &:focus {
        #malt-white {
            display: none;
        }
        #malt-lightmode {
            display: inline-block;
        }
    }
    &.dark-mode {
        #malt-grey {
            display: inline-block;
        }
        #malt-white, #malt-darkmode, #malt-lightmode {
            display: none;
        }
        &:hover, &:focus {
            #malt-grey {
                display: none;
            }
            #malt-darkmode {
                display: inline-block;
            }
        }
    }
}

#close-cv, .close-project {
    position: absolute;
    top: -0.9rem;
    right: -0.9rem;
    @include small-screens {
        top: 1rem;
        right: 1rem;
    }
}