.btn {
    &-cv {
        @include btn-color(var(--cv-bg), var(--cv-text));
    }
    &-career {
        @include btn-color(var(--career-bg), var(--career-text));
    }
    &-refer {
        @include btn-color(var(--refer-bg), var(--refer-text));
    }
    &-skills {
        @include btn-color(var(--skills-bg), var(--skills-text));
    }
    &-portfolio {
        @include btn-color(var(--portfolio-bg), var(--portfolio-text));
    }
    &-contact {
        @include btn-color(var(--contact-bg), var(--contact-text));
    }
    &-home {
        @include btn;
        @include btn-color(var(--bg-grey), var(--text-grey));
    }
}

.btn-circle {
    position: relative;
    @include btn;
    @include box-shadow;
    &-l {
        @include circle(13rem, 1.3rem);
    }
    &-m {
        @include circle(9rem, 1rem);
    }
    &-s {
        @include circle(7rem, 1rem);
    }
    &-xs {
        @include circle(5rem, 0.9rem);
    }
}

.btn-icon {
    @include btn;
    @include box-shadow;
    &-contact {
        @include circle(6rem, 3rem);
        img {
            @include circle(3rem, 1rem);
        }
        #malt-light {
            display: none;
        }
        &:hover, &:focus {
            #malt-dark {
                display: none;
            }
            #malt-light {
                display: inline-block;
            }
        }
    }
    &-s {
        @include circle(2.5rem, 1.25rem);
    }
    &-xs {
        @include circle(2rem, 1rem);
    }
    &#send-mail {
        margin-left: 1.5rem;
        i {
            margin-left: -0.15rem
        }
    }
    &-more {
        position: absolute;
        top: 50%; left: -1rem;
        padding-right: 0.3rem;
        margin-top: -1rem;
        transition: inherit;
        box-shadow: none;
    }
}