*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-grey: #403F4C;
    --middle-grey: #dcdee1;
    --bg-grey: #EEF0F2;
    &.dark-mode {
        --text-grey: #EEF0F2;
        --middle-grey: #53525d;
        --bg-grey: #403F4C;
    }
}

html {
    background-color: var(--middle-grey);
    overflow: hidden;
    @media screen and (max-width: 400px) {
        font-size: 12px;
    }
    @media screen and (min-width: 401px) and (max-width: 1000px) {
        font-size: 13px;
    }
    @media screen and (min-width: 1001px) and (max-width: 1200px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1400px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1401px) and (max-width: 1600px) {
        font-size: 19px;
    }
    @media screen and (min-width: 1601px) and (max-width: 1800px) {
        font-size: 22px;
    }
    @media screen and (min-width: 1801px) {
        font-size: 25px;
    }
}

body {
    position: relative;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}