*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-grey: #303039;
    --middle-grey: #F3F4F6;
    --bg-grey: #EEF0F2;
    --cv-text: #0F516B;
    --career-text: #005241;
    --refer-text: #005C31;
    --skills-text: #774D04;
    --portfolio-text: #8F3C00;
    --contact-text: #913012;
    &.dark-mode {
        --text-grey: #EEF0F2;
        --middle-grey: #403F4C;
        --bg-grey: #303039;
        --cv-text: #B8E3F5;
        --career-text: #ADFFE7;
        --refer-text: #ADFFD2;
        --skills-text: #FCE0B0;
        --portfolio-text: #FDD2AF;
        --contact-text: #F6BEB6;
    }
}

html {
    background-color: var(--bg-grey);
    overflow: hidden;
    @media screen and (max-width: 400px) {
        font-size: 12px;
    }
    @media screen and (min-width: 401px) and (max-width: 1000px) {
        font-size: 13px;
    }
    @media screen and (min-width: 1001px) and (max-width: 1200px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1400px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1401px) and (max-width: 1600px) {
        font-size: 19px;
    }
    @media screen and (min-width: 1601px) and (max-width: 1800px) {
        font-size: 22px;
    }
    @media screen and (min-width: 1801px) {
        font-size: 25px;
    }
}

body {
    position: relative;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}