.cv-content {
    position: relative;
    display: flex;
    height: min-content;
    max-height: min-content;
    @include box-shadow;
    @include small-screens {
        flex-direction: column;
    }
    &-top {
        height: 27rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include small-screens {
            min-height: 27rem;
            height: max-content;
        }
    }
    &-left {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 35%;
        background-color:var(--cv-text);
        color: var(--bg-grey);
        padding: 2rem 3rem 8rem 3rem;
        img {
            width: 100%;
            border-radius: 50%;
            @include box-shadow;
            @include small-screens {
                max-width: 400px;
            }
        }
        p {
        display: flex;
        gap: 1rem;
        align-items: center;
        white-space: nowrap;
        }
        @include small-screens {
            width: 100%;
        }
    }
    &-right {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-grey);
        color:var(--cv-text);
        gap: 2rem;
        padding: 2rem 3rem 8rem 3rem;
    }
    h4 {
        padding-bottom: 2rem;
    }
    p {
        margin-bottom: 1rem;
    }
}