#career {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    @include small-screens {
        gap: 1rem 2rem;
    }
}
    
.career {
    &-title {
        cursor: pointer;
    }
    &-text {
        flex: 100%;
        padding: 1rem;
        order: 4;
        &.hidden {
            display: none;
        }
    }
}