#portfolio {
    color: var(--portfolio-text);
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem 0;
        width: 80%;
        @include small-screens {
            flex-direction: column;
            gap: 5rem;
            width: 90%;
        }
        figcaption {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 25%;
            padding: 2rem 1rem 1.5rem 1rem;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            border-top: 0.3rem transparent solid;
            text-align: center;
            cursor: pointer;
            img {
                width: 80%;
                border-radius: 0.2rem;
                @include box-shadow;
            }
            @include small-screens {
                width: 100%;
            }
            &:hover, &:focus {
                border-top: 0.3rem $portfolio-dark solid;
                img {
                    box-shadow: 3px 3px 9px $color-shadow;
                }
            }
        }
    }
}