#skills {
    color: var(--skills-text);
    .skills-groups {
        display: flex;
        gap: 4rem;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-top: 2rem;
            &#groupJS {
                grid-template-columns: 1fr;
            }
        }
        li {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 8rem;
            span {
                padding: 0.5rem;
                border-top: 2px $skills-middle solid;
                font-size: 1.5rem;
                color: $skills-middle;
            }
        }
    }
    .skills-more {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px $skills-middle solid;
        cursor: pointer;
    }
    .skills-to-come {
        display: flex;
        gap: 1rem;
        margin-top: -2rem;
        opacity: 0;
        transition: 250ms ease;
        &.active {
            opacity: 1;
        }
    }
}