#skills {
    color: var(--skills-text);
    .skills-groups {
        display: flex;
        gap: 4rem;
        @include small-screens {
            flex-direction: column;
        }
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-top: 2rem;
            &#groupJS {
                grid-template-columns: 1fr;
            }
        }
        li {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 8rem;
            i {
                height: 4px;
                background-color: $skills-middle;
            }
            span {
                position: relative;
                font-size: 1.5rem;
                color: $skills-middle;
                width: 100px;
                &::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    top: calc(-0.5rem - 4px);
                    height: 4px;
                    width: 100px;
                    background-color: $skills-middle;
                    opacity: 0.3;
                }
            }
        }
    }
    .skills-more {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px $skills-middle solid;
        cursor: pointer;
    }
    .skills-to-come {
        display: flex;
        gap: 1rem;
        margin-top: -2rem;
        opacity: 0;
        transition: 250ms ease;
        li {
            text-align: center;
        }
        @include small-screens {
            flex-direction: column;
        }
        &.active {
            opacity: 1;
        }
    }
}