#skills {
    i {
        padding: 0 5px;
        color: $skills-dark;
    }
    p {
        display: inline-flex;
        gap: 3rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.6rem;
        max-height: 8rem;
        width: 80%;
        margin-top: 2rem;
        @include small-screens {
            width: 100%;
            max-height: none;
            align-content: center;
        }
    }
}