@mixin circle($rem) {
    width: $rem;
    height: $rem;
    border-radius: 50%;
}

@mixin btn {
    border: none;
    border-radius: 1.25rem;
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
}

@mixin btn-color($color) {
    background-color: rgba($color, 0.2);
    color: $color;
    &:hover, &:focus {
        background-color: $color;
        color: $bg-grey;
    }
}

@mixin box-shadow {
    box-shadow: 1px 1px 5px $color-shadow;
}