@mixin circle($rem, $font-size) {
    width: $rem;
    height: $rem;
    border-radius: 50%;
    font-size: $font-size;
}

@mixin btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

@mixin btn-circle-color($light, $dark) {
    background-color: $light;
    color: $dark;
    transition: 200ms ease-in-out;
    &:hover, &:focus {
        background-color: $dark;
        color: $light;
        box-shadow: 3px 3px 9px $color-shadow;
    }
    &.active {
        background-color: $dark;
        color: $light;
        box-shadow: inset 1px 1px 3px $color-shadow;
    }
}

@mixin stripe-btn-color($center, $outer, $text, $angle) {
    width: 110%;
    color: $text;
    background: radial-gradient(circle at 15% 15%, $center, $outer);
    box-shadow: inset 1px 1px 15px rgba($color: darken($outer, 15%), $alpha: 0.4),
    inset -2px -1px 40px rgba($color: darken($outer, 5%), $alpha: 0.6);
    transform: rotate($angle);
    transition: transform 300ms ease-in;
    &:hover, &:focus, &.active {
        transform: rotate(0);
        box-shadow: inset 1px 1px 15px rgba($color: darken($outer, 17%), $alpha: 0.8),
        inset -2px -1px 40px rgba($color: darken($outer, 7%), $alpha: 1);
        color: darken($color: $outer, $amount: 20%);
    }
    @include small-screens {
        transform: rotate(0);
    }
}

@mixin box-shadow {
    box-shadow: 1px 1px 3px $color-shadow;
}

@mixin small-screens {
    @media screen and (max-width: 985px) {
        @content
    }
}
