@mixin circle($rem, $font-size) {
    width: $rem;
    height: $rem;
    border-radius: 50%;
    border: none;
    font-size: $font-size;
}

@mixin btn {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

@mixin btn-color($color) {
    background-color: rgba($color, 0.2);
    color: $color;
    &:hover, &:focus {
        background-color: $color;
        color: $bg-grey;
    }
}

@mixin box-shadow {
    box-shadow: 1px 1px 5px $color-shadow;
}