$color-cv: #FF990A;
$color-career: #FF3864;
$color-refer: #33B8FF;
$color-skills: #E000D9;
$color-portfolio: #00C49A;
$color-contact: #DD5A40;

$color-shadow: #1d1c22;

$cv-light: #FFD2C2;
$cv-dark: #EB2B00;
$career-light: #C9E6F8;
$career-dark: #007ECC;
$refer-light: #FED5FF;
$refer-dark:#E8008F;
$portfolio-light: #FFC2F7;
$portfolio-dark: #8B0078;
$skills-light: #C7FAF4;
$skills-dark: #0D9787;
$contact-light: #FFFEBE;
$contact-dark:#F06800;

$short-trans: 200ms;
$middle-trans: 300ms;