$color-shadow: #1d1c22;

$cv-dark: #0F516B;
$cv-middle: #259CA7;
$cv-light: #DFF6F6;

$career-dark: #006652;
$career-middle: #00CCAD;
$career-light: #DCF9F5;

$refer-dark: #008F4C;
$refer-middle: #7FC7A3;
$refer-light: #F4F9F1;

$skills-dark: #DB9E06;
$skills-middle: #EDC55A;
$skills-light: #FCF8EE;

$portfolio-dark: #CC5500;
$portfolio-middle: #E99B35;
$portfolio-light: #FDF6ED;

$contact-dark: #B63C16;
$contact-middle: #DC8241;
$contact-light: #F9E9DC;

$short-trans: 200ms;
$middle-trans: 300ms;